.global-header {
  div {
    display: flex;

    h1 {
      display: inline;
    }

    #headerMenu {
      position: relative;
      margin-left: auto;
      cursor: pointer;
      background-color: transparent;
      border: 0px;

      #headerMenuIcon {
        border: 0px;
        display: inline-block;
      }

      #headerMenuContainer {
        display: none;
        position: absolute;
        right: 0;
        z-index: 100;
        background-color: white;
        border: 1px solid gray;
        border-radius: 4px;
        box-shadow: 10px 5px 5px whitesmoke;
        font-family: var(--font-heading);

        ol {
          list-style: none;
          margin: 0;
          text-align: left;

          li {
            width: 100%;
            padding: 4px 1em;
            border-radius: 4px;
            white-space: nowrap;
          }

          li:hover {
            background-color: whitesmoke;
          }
        }
      }
    }
  }
}
