.post-summary {
  min-width: 100%;

  h3 {
    color: var(--color-primary);
  }

  .flex {
    display: flex;
    align-items: center;
    margin-top: var(--spacing-1);
    margin-bottom: var(--spacing-4);
    min-width: 100%;

    p {
      margin-right: 2em;
    }

    .image-container {
      margin-left: auto;
    }
  }
}
