.post-summary {
  min-width: 100%;

  h2 {
    color: var(--color-primary);
    font-size: var(--fontSize-4);
  }

  .flex {
    display: flex;
    align-items: center;
    margin-top: var(--spacing-1);
    margin-bottom: var(--spacing-4);
    min-width: 100%;

    p {
      margin-right: 2em;
    }

    .image-container {
      margin-left: auto;
    }
  }
}

@media (max-width: 42rem) {
  .post-summary {
    .flex {
      .image-container {
        display: none;
      }
    }
  }
}
