.profile-pic {
  border-radius: 100%;
}

.row {
  display: flex;

  .center {
    width: 100%;
    margin: auto;
  }

  .column {
    margin-left: 1em;
  }

  .pull-right {
    margin-left: auto;
  }
}

@media (max-width: 42rem) {
  .row {
    display: block;

    .column {
      margin: inherit;
    }
  }
}
